@charset "UTF-8";
/* Основен стил за тялото на страницата */
body {
    font-family: Arial, sans-serif;
    background-image: url('/assets/img/admin.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh; /* Височина на body да покрие целия екран */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Навигацията най-горе и футъра най-долу */
}

/* Основен стил за хедъра и навигационния бар */
.navigation {
    width: 100%;
    background-color: rgba(0, 123, 255, 0.3); /* Прозрачен син фон */
    padding: 10px 0;
    text-align: center;
}

.navigation h3 a {
    color: #ffffff;
    text-decoration: none;
    padding: 8px 12px;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 0 10px; /* Разстояние между линковете */
}

.navigation h3 a:hover {
    background-color: #0056b3;
}

/* Прозрачен стил за контейнера на съдържанието */
.content-container {
    background-color: rgba(255, 255, 255, 0.3); /* Прозрачен бял фон */
    border-radius: 8px; /* Заоблени краища */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Лека сянка */
    max-width: 400px; /* Максимална ширина на контейнера */
    max-height: 200px; /* Максимална височина на контейнера */
    width: 100%; /* Ширина на контейнера */
    margin: 0 auto; /* Центриране на контейнера */
    flex-grow: 1; /* Контейнерът расте за да заеме наличното пространство */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Основен стил за логин формата */
form {
    width: 100%;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

form input[type="text"],
form input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.5); /* Прозрачен фон на полетата */
}

form input[type="text"]:focus,
form input[type="password"]:focus {
    background-color: rgba(255, 255, 255, 0.7); /* Промяна при фокус */
    outline: none; /* Премахване на outline */
}

form label.error {
    color: #dc3545;
    font-size: 0.9em;
    margin-bottom: 15px;
}

form input[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Основен стил за футъра */
footer {
    background-color: rgba(0, 123, 255, 0.3); /* Прозрачен фон */
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

footer small {
    color: #ffffff;
    font-size: 0.9em;
}