<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{PostForm.html :: head('Admin Portal')}"></div>
<body>
<div th:replace="~{PostForm.html :: header}"></div>
<div class="body-content">
    <h2 th:text="#{admin.welcome}">Welcome to the Portal</h2>
    <h2 th:text="${session.currentUser}" th:if="${isAuthenticated}"></h2>
</div>
<div>
    <form th:action="@{/admin/users}" method="get">
        <button type="submit">Show All Users</button>
    </form>
</div>
</body>
</html>