<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Portal</title>
    <link href="../static/css/AdminView.css" th:href="@{/css/AdminView.css}" rel="stylesheet"/>

</head>
<body>
<div class="navigation">
    <h3>
        <a href="#" th:href="@{/}" th:text="#{navigation.home}">Home</a>
        <a href="#" th:if="${isAuthenticated}" th:href="@{/posts}" th:text="#{navigation.all-posts}">All posts</a>
        <a href="#" th:if="${isAuthenticated}" th:href="@{/posts/new}" th:text="#{navigation.create-post}">Create
            Post</a>
        <a href="#" th:if="${isAuthenticated}" th:href="@{/posts/postsOfUser}">My Posts</a>
        <span th:if="${isAuthenticated}">
            <a href="#" th:if="${session.isModerator}" th:href="@{/admin}">Moderator Panel</a>
        </span>
        <a href="#" th:if="${isAuthenticated}" th:href="@{/admin/currentUser/Me}">My Profile</a>
        <a href="#" th:if="${isAuthenticated}" th:href="@{/auth/logout}">Logout</a>
    </h3>
</div>
<div class="body-content">
    <h2 th:text="#{admin.welcome}">Welcome to the Portal</h2>
    <h2 th:text="${session.currentUser}" th:if="${isAuthenticated}"></h2>

    <div>
        <form th:action="@{/admin/users}" method="get">
            <button class="button" type="submit">Show All Users</button>
        </form>
    </div>
</div>
<footer>
    <small th:text="${'© Copyright ' + #dates.year(#dates.createNow()) + ' CryptoForum'}">CryptoForum</small>
</footer>
</body>
</html>
