<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="../static/css/Login.css" th:href="@{/css/Login.css}" rel="stylesheet"/>

</head>
<body>

<!-- Навигационен бар -->
<div class="navigation">
    <h3>
        <a href="#" th:href="@{/}" th:text="#{navigation.home}">Home</a>
        <a href="#" th:unless="${isAuthenticated}" th:href="@{/auth/register}">Register</a>
    </h3>
</div>

<!-- Контейнер за логин формата -->
<div class="content-container">
    <form action="#" th:action="@{/auth/login}" th:object="${login}" method="post">
        <label th:text="#{user.label.username}">Username</label>
        <input type="text" th:field="*{username}">
        <label th:errors="*{username}">Username error placeholder.</label>

        <label th:text="#{user.label.password}">Password</label>
        <input type="password" th:field="*{password}">
        <label class="error" th:errors="*{password}">Password error placeholder.</label>

        <input type="submit" value="Login">
    </form>
</div>

<!-- Футър -->
<footer>
    <small th:text="${'© Copyright ' + #dates.year(#dates.createNow()) + ' CryptoForum'}">CryptoForum</small>
</footer>

</body>
</html>
