<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{PostForm.html :: head('All Posts')}"></form>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function toggleCommentForm() {
            const form = document.getElementById("commentForm");
            if (form.style.display === "none") {
                form.style.display = "block";
            } else {
                form.style.display = "none";
            }
        }
    </script>
</head>
<body>
<form th:replace="~{PostForm.html :: header}"></form>


<div class="body-content">
        <div class="table">

            <div class="row" th:each="post : ${posts}">
                <div class="cell">
                    <a href="#" th:href="@{/posts/{id}(id=${post.id})}" th:text="${post.title}">Post</a>
                </div>
                <div class="cell" th:text="${post.content}">Content</div>
            </div>
        </div>
    </div>
    <h2 th:text="${post.title}">Post Title</h2>
    <div th:style="text-align">
        <p class="margin12" th:text="#{post.label.creator}  + ': ' +       ${post.user.firstName + ' ' + post.user.lastName}">Creator</p>
        <p class="margin12" th:text="#{post.label.content}  + ': ' +       ${post.content}">Content</p>
        <p class="margin12" th:text="#{post.label.createdAt} + ': ' +      ${post.createdAt}">01.01.1999</p>
        <p class="margin12" th:text="#{post.label.updatedAt}  + ': ' + ${post.updatedAt}">01.01.1999</p>
        <p class="margin12" th:text="#{post.label.likes}  + ': ' + ${post.likes}">0</p>
        <p class="margin12" th:text="#{post.label.comments}  + ': '">Comments:</p>
        <ul class="margin12">
            <li th:each="comment : ${post.comments}" th:text="${comment.content}"></li>
        </ul>
        <button type="button" onclick="toggleCommentForm()">Add Comment</button>
        <div id="commentForm" style="display:none;">
            <form th:action="@{/posts/{id}/comment(id=${post.id})}" method="post">
                <label>
                    <textarea name="content" placeholder="Write your comment here..."></textarea>
                </label>
                <input type="hidden" name="postId" th:value="${post.id}" />
                <button type="submit">Save</button>
            </form>
        </div>
        <form th:if="${currentUser.username.equals(post.user.username) or currentUser.position.getId() == 1}" th:action="@{/posts/{id}/update(id=${post.id})}" method="get">
            <button type="submit">Update</button>
        </form>
        <form th:if="${currentUser.username.equals(post.user.username) or currentUser.position.getId() == 1}" th:action="@{/posts/{id}/delete(id=${post.id})}" method="post">
            <button type="submit" onclick="return confirm('Are you sure you want to delete this post?')">Delete</button>
        </form>
    </div>
</div>

<form th:replace="~{PostForm.html :: footer}"></form>
</body>
</html>