<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{users.usernames}">All Users</title>
    <link href="../static/css/UsersView.css" th:href="@{/css/UsersView.css}" rel="stylesheet"/>

</head>
<body>
<div class="navigation">
    <h3>
        <a href="#" th:href="@{/}" th:text="#{navigation.home}">Home</a>
        <a href="#" th:if="${isAuthenticated}" th:href="@{/posts}" th:text="#{navigation.all-posts}">All posts</a>
        <a href="#" th:if="${isAuthenticated}" th:href="@{/posts/new}" th:text="#{navigation.create-post}">Create
            Post</a>
        <a href="#" th:if="${isAuthenticated}" th:href="@{/posts/postsOfUser}">My Posts</a>
        <span th:if="${isAuthenticated}">
            <a href="#" th:if="${session.isModerator}" th:href="@{/admin}">Moderator Panel</a>
        </span>
        <a href="#" th:if="${isAuthenticated}" th:href="@{/admin/currentUser/Me}">My Profile</a>
        <a href="#" th:if="${isAuthenticated}" th:href="@{/auth/logout}">Logout</a>
    </h3>
</div>
<div class="body-content">
    <div class="header">
        <h1 th:text="#{users.filter.label}">Filter User Options</h1>
    </div>
    <div class="form-section">
        <form action="#" th:action="@{/admin/users}" method="get" th:object="${filteredUserOptions}">
            <div class="input-row">
                <input type="text" placeholder="Username" th:field="*{username}"/>
                <input type="text" placeholder="First Name" th:field="*{firstName}"/>
                <input type="text" placeholder="Email" th:field="*{email}"/>
            </div>
            <div class="input-row">
                <input type="datetime-local" placeholder="Created Before" th:field="*{createBefore}"/>
                <input type="datetime-local" placeholder="Created After" th:field="*{createAfter}"/>
                <select th:field="*{sortBy}">
                    <option value="">Sort By</option>
                    <option value="username">Username</option>
                    <option value="email">Email</option>
                </select>
                <select th:field="*{sortOrder}">
                    <option value="">Sort Order</option>
                    <option value="asc">Ascending</option>
                    <option value="desc">Descending</option>
                </select>
            </div>
            <input type="submit" value="Search"/>
        </form>
    </div>
    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

    <div th:if="${users.isEmpty()}">
        <h2 th:text="#{users.title.empty}">No Users</h2>
    </div>

    <div th:unless="${users.isEmpty()}">
        <div class="table">
            <div class="header">
                <h1 th:text="#{users.usernames}">All Users</h1>
            </div>

            <div class="row" th:each="user : ${users}">
                <div class="cell">
                    <span th:text="#{user.label.username} + ': '"></span><a href="#"
                                                                            th:href="@{/admin/users/{id}(id=${user.id})}"
                                                                            th:text="${user.username}">Username</a>
                </div>
                <div class="cell">
                    <span th:text="#{user.label.email} + ': '"></span><span th:text="${user.email}">Email</span>
                </div>
                <div class="cell">
                    <span th:text="#{user.label.FirstName} + ': '"></span><span
                        th:text="${user.firstName}">First Name</span>
                </div>
                <div class="cell">
                    <span th:text="${#temporals.format(user.getCreatedAt(), 'dd-MM-yyyy')}">December 28, 2048</span>
                </div>
                <div class="cell">
                    <form th:if="${(!user.isBlocked() && currentUser.position.getId() == 1 && user.position.getId() != 1) || (!user.isBlocked() && currentUser.position.getId() == 2 && user.position.getId() != 1 && user.position.getId() != 2) }"
                          th:action="@{/admin/users/{id}/block(id=${user.id})}" method="post">
                        <button type="submit" class="block-button">Block</button>
                    </form>
                    <br>
                    <form th:if="${(user.isBlocked() && currentUser.position.getId() == 1 && user.position.getId() != 1) || (user.isBlocked() && currentUser.position.getId() == 2 && user.position.getId() != 1 && user.position.getId() != 2) }"
                          th:action="@{/admin/users/{id}/unblock(id=${user.id})}" method="post">
                        <button type="submit" class="unblock-button">Unblock</button>
                    </form>
                    <form th:if="${user.position.getId() == 3 && currentUser.position.getId() == 1}"
                          th:action="@{/admin/users/{id}/toModerator(id=${user.id})}" method="post">
                        <button type="submit" class="block-button">User To Moderator</button>
                    </form>
                    <br>
                    <form th:if="${user.position.getId() == 2 && currentUser.position.getId() == 1}"
                          th:action="@{/admin/users/{id}/toUser(id=${user.id})}" method="post">
                        <button type="submit" class="unblock-button">Moderator To User</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div>
        <ul class="pagination">
            <li th:if="${currentPage > 1}">
                <a th:href="@{'__${requestURI}__' + '?' + ${(filteredUserOptions.firstName != null && !filteredUserOptions.firstName.isEmpty()) ? 'firstName=' + filteredUserOptions.firstName + '&' : ''}
                        + ${filteredUserOptions.createAfter != null ? 'createAfter=' + filteredUserOptions.createAfter + '&' : ''}
                        + ${filteredUserOptions.createBefore != null ? 'createBefore=' + filteredUserOptions.createBefore + '&' : ''}
                        + ${(filteredUserOptions.email != null && !filteredUserOptions.email.isEmpty()) ? 'email=' + filteredUserOptions.email + '&' : ''}
                        + ${(filteredUserOptions.username != null && !filteredUserOptions.username.isEmpty()) ? 'username=' + filteredUserOptions.username + '&' : ''}
                        + ${(filteredUserOptions.sortBy != null && !filteredUserOptions.sortBy.isEmpty()) ? 'sortBy=' + filteredUserOptions.sortBy + '&' : ''}
                        + ${(filteredUserOptions.sortOrder != null && !filteredUserOptions.sortOrder.isEmpty()) ? 'sortOrder=' + filteredUserOptions.sortOrder + '&' : ''}
                        + 'page=' + ${currentPage - 2} + '&pageSize=' + ${pageSize}}">&laquo; Previous</a>
            </li>
            <li th:each="i : ${#numbers.sequence(1, totalPages)}" th:class="${i == currentPage} ? 'active'">
                <a th:href="@{'__${requestURI}__' + '?' + ${(filteredUserOptions.firstName != null && !filteredUserOptions.firstName.isEmpty()) ? 'firstName=' + filteredUserOptions.firstName + '&' : ''}
                        + ${filteredUserOptions.createAfter != null ? 'createAfter=' + filteredUserOptions.createAfter + '&' : ''}
                        + ${filteredUserOptions.createBefore != null ? 'createBefore=' + filteredUserOptions.createBefore + '&' : ''}
                        + ${(filteredUserOptions.email != null && !filteredUserOptions.email.isEmpty()) ? 'email=' + filteredUserOptions.email + '&' : ''}
                        + ${(filteredUserOptions.username != null && !filteredUserOptions.username.isEmpty()) ? 'username=' + filteredUserOptions.username + '&' : ''}
                        + ${(filteredUserOptions.sortBy != null && !filteredUserOptions.sortBy.isEmpty()) ? 'sortBy=' + filteredUserOptions.sortBy + '&' : ''}
                        + ${(filteredUserOptions.sortOrder != null && !filteredUserOptions.sortOrder.isEmpty()) ? 'sortOrder=' + filteredUserOptions.sortOrder + '&' : ''}
                        + 'page=' + ${i - 1} + '&pageSize=' + ${pageSize}}" th:text="${i}">1</a>
            </li>
            <li th:if="${currentPage < totalPages}">
                <a th:href="@{'__${requestURI}__' + '?' + ${(filteredUserOptions.firstName != null && !filteredUserOptions.firstName.isEmpty()) ? 'firstName=' + filteredUserOptions.firstName + '&' : ''}
                        + ${filteredUserOptions.createAfter != null ? 'createAfter=' + filteredUserOptions.createAfter + '&' : ''}
                        + ${filteredUserOptions.createBefore != null ? 'createBefore=' + filteredUserOptions.createBefore + '&' : ''}
                        + ${(filteredUserOptions.email != null && !filteredUserOptions.email.isEmpty()) ? 'email=' + filteredUserOptions.email + '&' : ''}
                        + ${(filteredUserOptions.username != null && !filteredUserOptions.username.isEmpty()) ? 'username=' + filteredUserOptions.username + '&' : ''}
                        + ${(filteredUserOptions.sortBy != null && !filteredUserOptions.sortBy.isEmpty()) ? 'sortBy=' + filteredUserOptions.sortBy + '&' : ''}
                        + ${(filteredUserOptions.sortOrder != null && !filteredUserOptions.sortOrder.isEmpty()) ? 'sortOrder=' + filteredUserOptions.sortOrder + '&' : ''}
                        + 'page=' + ${currentPage} + '&pageSize=' + ${pageSize}}">Next &raquo;</a>
            </li>
        </ul>

    </div>
</div>
<footer>
    <small th:text="${'© Copyright ' + #dates.year(#dates.createNow()) + ' CryptoForum'}">CryptoForum</small>
</footer>
</body>
