<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User</title>
    <link href="../static/css/UserUpdateView.css" th:href="@{/css/UserUpdateView.css}" rel="stylesheet"/>
</head>
<body>
<div class="navigation">
    <h3>
        <a href="#" th:href="@{/}" th:text="#{navigation.home}">Home</a>
        <a href="#" th:if="${isAuthenticated}" th:href="@{/admin/currentUser/Me}">My Profile</a>
    </h3>
</div>

<div class="content-container">
    <header class="header">
        <h2 th:text="#{subtitle4}">Update User</h2>
    </header>

    <div class="form-container">
        <form action="#" th:action="@{/admin/users/{id}/update(id=${id})}" th:object="${userDto}" method="post">

            <label th:text="#{user.label.firstName}">First Name</label>
            <input type="text" th:field="*{firstName}"/>
            <label class="error" th:errors="*{firstName}">First name error placeholder</label>

            <label th:text="#{user.label.lastName}">Last Name</label>
            <input type="text" th:field="*{lastName}"/>
            <label class="error" th:errors="*{lastName}">Last name error placeholder</label>

            <label th:text="#{user.label.email}">Email</label>
            <input type="text" th:field="*{email}"/>
            <label class="error" th:errors="*{email}">Email error placeholder</label>

            <label th:text="#{user.label.password}">Password</label>
            <input type="text" th:field="*{password}"/>
            <label class="error" th:errors="*{password}">Password error placeholder</label>

            <input type="submit" value="Save User"/>
        </form>

        <br/>

        <div th:if="${user.position.id == 1}">
            <form th:action="@{/admin/addPhone/{id}(id=${id})}" th:object="${phone}" method="post">
                <label th:text="#{admin.label.phoneNumber}">Phone Number</label>
                <input type="text" th:field="*{phoneNumber}"/>
                <label class="error" th:errors="*{phoneNumber}">Phone error placeholder</label>
                <input type="submit" value="Save Phone"/>
            </form>
        </div>
    </div>
</div>

<footer>
    <small th:text="${'© Copyright ' + #dates.year(#dates.createNow()) + ' CryptoForum'}">CryptoForum</small>
</footer>
</body>
</html>

